html, body {
  margin:0px;
  height:100%;
}

.main {
  font-family: 'Open Sans', sans-serif;
}

.center {
  display: flex;
  justify-content: center;
}


/* Mode: */

.light {
  background-color: white;  
  color: black;
}

.lightNoText {
  background-color: white;  
}

.dark { 
  background-color: #252528;
  color: white;
}

.darkNoText { 
  background-color: #252528;
}


/* Menu : */

.title {
  text-align: center;
  font-size: 70px;
  font-family: 'Nanum Brush Script', cursive;
}

.d-inline-block {
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
  border-color: orange;
  margin-left: 10px;
}

.title2Alt {
  text-align: center;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

h2.addAlert {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  /* right: 0; */
  text-align: center;
  width: 100px;
  z-index: 1;
}

.Alert {
  width: 20px;
}